<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inicio | Cinemix</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/index.css">
  <link rel="icon" type="image/icon" href="/public/img/brand/cmix3.ico">

  <!-- Font Awesome - Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Mulish - Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <div class="image-container">
      <div class="cinemix-image">
        <img src="/public/img/brand/cmix1.png">
      </div>
    </div>
    <div class="main-content">
      <div class="body-content">
        <div class="cmix-image">
          <img src="/public/img/brand/cinemix4.png">
        </div>
        <div class="description-text">
          <p>Cinemix ayuda a los docentes a encontrar películas relevantes y educativas, adaptadas a diversas materias y temas, para enriquecer la enseñanza en el aula.</p>
        </div>
      </div>
      <div class="link-container">
        <a href="/movies" class="action-link">
          <i class="fa-solid fa-clapperboard"></i>
          <h2>Explorar películas</h2>
        </a>
      </div>
    </div>
  </main>
</body>
</html>